<div class="userblock span3 offset3">
     <img src="">
     <div class="dropdown">
       <% if current_user %>

            <a href="#" data-toggle="dropdown" class="username"><%=current_user.name.split(' ').select {|w| w.capitalize! || w }.join(' ');%></a>

                <!-- Link or button to toggle dropdown -->
            <ul class="dropdown-menu userblock-dropdown" role="menu" aria-labelledby="dLabel">
              
        <li ><%= link_to "Profile", edit_user_registration_path %> </li>

              <li><a tabindex="-1" href="#">Your public Wishlist</a></li>

              <li class="divider"></li>
              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>


            </ul>

        <% else %> <a href="#" data-toggle="dropdown" class="username">Guest</a>

            <!-- Link or button to toggle dropdown -->
          <ul class="dropdown-menu userblock-dropdown" role="menu" aria-labelledby="dLabel">
            <li><%= link_to "Login", new_user_session_path %></li>

            
            <li><%= link_to "Sign up", new_user_registration_path %></li>
              <li><a href="<%=user_omniauth_authorize_path(:facebook, :display=>"popup")%>">Signup with Facebook</a></li>

          </ul>
        <%end%>

  </div></div>
